.gradle
/build
gradlehome
tmp_gradle_home
addons/visualanchors/android/OpenCV-android-sdk
addons/visualanchors/android/src/.gradle
addons/visualanchors/android/src/.cxx
addons/visualanchors/android/src/build
**/*.bin
**/.DS_Store
